$dias: "monday" "tuesday" "wednesday" "thursday" "friday" "saturday" "sunday";

@each $dia in $dias {
    .#{$dia} {
        background-color: greenyellow;
        color: red;
        text-decoration: underline;
    }
}
